<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>

        <main>
                <h1>Oi, eu sou o Heitor.</h1>
                <p>Sou estudante de Analise e Desenvolvimento de sistemas e estagiário de suporte na <a href="http://www.asksystems.com.br/site/View/Index.html" target="_blank">AskSystems</a>.
                 Sou extremamente interessado em Desenvolvimento 
                    de sistemas. As ferramentas que mais faço uso são Node.js, Express, Mysql e bootstrap. Pretendo aprender 
                    React para facilitar na programação do front-end.  Busco oportunidades na área de desenvolvimento de softwares onde eu possa me 
                    sentir desafiado a me desenvolver profissionalmente, adquirindo conhecimentos e habilidades.
                </p>
                <br>
                <br>
                <br>
                <p>Estou no <a href="https://github.com/Heitor-Grande" target="_blank">GitHub</a> e no <a href="https://www.linkedin.com/in/heitor-grande-a936b3227/" target="_blank">Linkedin</a></p>
        </main>

        <article>
                <h1>Currículo atualizado</h1>
                <p>Aqui você pode ter acesso ao meu currículo atualizado.</p>
                <a href="/CurriculoHeitor.pdf" target="_blank" class="eventCurriculo">VISUALIZAR</a>
        </article>
</body>
</html>